extends layout
block content
    #wrapper
        include header
        #page-wrapper
            .container-fluid
                a(href='/add_company' style='margin-top:15px;float:right;') Add new company
                .row
                    .col-lg-12
                        h1.page-header Companies
                .row
                    .col-lg-4.pull-right
                        input.search.form-control(type='text', placeholder='Search...')
                        span.counter.pull-right                        
                .row
                    .col-lg-12
                        table.table.table-striped.table-hover.results
                            thead
                                tr
                                    th Location
                                    th Name
                                    th Contact person
                                    th Email
                            tbody
                            each result in companies
                                tr.trLink
                                    td #{result.location}
                                    td 
                                        a(href='/company_consultants/#{result.companyid}') #{result.name}
                                    td #{result.contact_person}
                                    td #{result.email}
    include footer