extends layout
block content
    #wrapper
        include header
        #page-wrapper
            .container-fluid
                .row
                    .col-lg-12
                        h1.page-header #{consultant.name}
                .row
                    .col-lg-12
                        h4.page-header Companies
                        table.table.table-striped.table-hover
                            thead
                                tr
                                    th Name
                                    th Contact person
                            tbody
                            each result in companies
                                tr.trLink
                                    td #{result.Contactperson}
                                    td #{result.email}
                .row
                    .col-lg-12
                        h4.page-header Feedbacks
                        if feedbacks
                            table.table.table-striped.table-hover
                                thead
                                    tr
                                        th Company
                                        th Feedback date
                                        th Action
                                tbody
                                each result in feedbacks
                                    tr.trLink
                                        td #{result.Company}
                                        td #{result.feedback_date}
                                        td 
                                           a(href='/feedback_detail/#{result.feedback_id}') Feedback detail
                        else
                            label(for='feedback') Consultant has got no feedback yet
    include footer