extends layout
block content
    #wrapper
        include header
        #page-wrapper
            .container-fluid
                .row
                    .col-lg-12
                        h1.page-header Feedback form link

                .row
                    .col-lg-12
                        table.table.table-striped.table-hover
                            thead
                                tr
                                    th Name
                                    th Consultants
                                    th 
                            tbody
                            each result in companies
                                tr.trLink
                                    td #{result.name}
                                    td                      
                                        select#consult.form-control(name='consult')
                                            each cpval in consultant_companies
                                                option(value='#{cpval.consultant_ids}') #{cpval.consultant_names}
                                    td  
                                        form(data-toggle='validator', role='form', action='/feedback_link', method='POST')
                                            button.btn.btn-primary.success(type='submit') Send feedback link   

//                .row
//                    .col-lg-6
//                        if companies
//                            form(data-toggle='validator', role='form', action='/feedback_link/#{companies.companyid}', method='post')
//                                .form-group
//                                    lable(for='companies') Companies
//                                    select#companies.form-control(name='companies', onchange='this.form.submit()')
//                                        each cval in companies
//                                            option(value='#{cval.companyid}') #{cval.name}
//                                        noscript
//                                            input(type='submit', value='Submit')    
//                            form(data-toggle='validator', role='form', action='/home', method='POST')
//                                .form-group
//                                    lable(for='consult') Consultants
//                                    select#consultants.form-control(name='consultants')
//                                        if consultants
//                                        each cpval in consultants
//                                            option(value='#{cpval.consultantid}') #{cpval.consultantid}
//                                button.btn.btn-primary.success(type='submit') Send to customer
include footer