extends layout
block content
    #wrapper
        include header
        #page-wrapper
            .container-fluid
                .row
                    .col-lg-12
                        h1.page-header Customer feedback
                .row
                    .col-lg-6
                        form(data-toggle='validator', role='form', action='/send_feedback_link', method='POST')
                            .form-group
                                label(for='fcompanies') Companies
                                select#fcompanies.form-control(name='fcompanies',data-error='Company is required', required='')
                                    option(value='') Select company to view consultants
                                    if company_id
                                        each cpval in companies
                                            each cid in company_id
                                                if cid.companyid === cpval.companyid
                                                    option(value='#{cpval.companyid}+#{cpval.email}', selected) #{cpval.name}
                                                else
                                                    option(value='#{cpval.companyid}+#{cpval.email}') #{cpval.name}
                                    else
                                        each cpval in companies
                                            option(value='#{cpval.companyid}+#{cpval.email}') #{cpval.name}
                            .form-group
                                if company_consultants
                                    label(for='fconsultants') Consultants
                                    select#fconsultants.form-control(name='fconsultants')
                                        each cval in company_consultants
                                            option(value='#{cval.consultantid}+#{cval.Consultant}') #{cval.Consultant}
                                    br
                                    .form-group
                                        button.btn.btn-primary.success(type='submit') Send request
    include footer                                

   